.question {
  display: flex;
  width: 100%;
  border: 1px solid lightgray;

  & .question-upvote-count {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .question-title {
    width: 100%;
    padding-left: 1rem;
  }
  & button {
    width: 3rem;
    height: 3rem;

    &.has-voted {
      background-color: lightgreen;
    }
  }
}
.question.deleted {
  display: none;
}

.question.unapproved {
  background-color: orange;
}
