@import "reset.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: #ddd;
  border: 1px solid orange;
  border-radius: 4px;
  padding: 0.2rem;
}

h1 {
  margin: 1.2rem 0 0.8rem 0;
  text-align: center;
}
h2 {
  margin: 0.8rem 0 0.4rem 0;
  text-align: center;
}
h3 {
  margin: 0.3rem 0;
  text-align: center;
}
